{% extends 'myapp/base0.html' %}
{% block title %}About page{% endblock %}

{% block body_block %}
    <div style="margin-left: 1cm;">
        <p>
        <center><b><i>This is an E-learning Website! Search our Topics to find all available Courses!!!...</i></b>
        </center>
        </p>

        <p><a href="/myapp/">Back to Homepage1: Hardcoded URL</a></p> <!--Hardcoded URL-->
        <p><a href="{% url 'myapp:index' %}">Back to Homepage: Namespacing URL</a></p> <!--Name Spacing URL-->
        <br/>
        <p>
        <center><b><i>Visits:</i></b> {{ visits }} </center>
        </p>
    </div>
{% endblock %}