{% extends 'myapp/base0.html' %}
{% block title %}{{ topic.name }} Detail{% endblock %}

{% block body_block %}
    <div style="margin-left:1cm;">
        {% if topic %}
            <p><b><u>Topics id</u></b>: {{ topic.id }}</p>
            <p><b><u>Topic Name</u></b>: {{ topic.name | upper }} &emsp; <b><u>Length</u></b>: {{ topic.length }} </p>
            <p><b><u>List of Courses in {{ topic.name }}</u></b>:</p>
            <ol>
                {% for list in course_list %}
                    <li><p>: {{ list.title }} &emsp;: &emsp;<i>$ {{ list.price }}</i></p></li>
                {% endfor %}
            </ol>
        {% else %}
            <strong>There are no available topics!</strong>
        {% endif %}
    </div>
{% endblock %}